/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 transition: 1s;
 */

 html {
   font-family: 'Lato', sans-serif;
 }

 input[type=text] {
   width: 100%;
   font-size: 16px;
   text-align: center;
   padding: 10px 0;
   margin-top: 10px;
   margin-bottom: 10px;
 }

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #FBFBEF;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
}

.currentDate:hover {
  cursor: pointer;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

.day {
  border: 1px solid black;
  width: 160px;
  height: 120px;
  transition: 1s;
  background-color: white;
}

.day:hover {
  background-color: #EFEFEF;
  cursor: pointer;
  transition: 1s;
}

.bufferDay {
  border: 1px solid gray;
  width: 160px;
  height: 120px;
  background-color: #F1F1F1;
}

.month {
  display: flex;
  flex-wrap: wrap;
  width: 1140px;
  margin: 15px;
}

.nextMonth {
  padding: 5px;
  margin: 5px;
  width: 40px;
  height: 40px;
  transition: 1s;
}

.nextMonth:hover {
  cursor: pointer;
  width: 50px;
  transition: 1s;
}

.prevMonth {
  padding: 5px;
  margin: 5px;
  width: 40px;
  height: 40px;
  transition: 1s;
}

.prevMonth:hover {
  cursor: pointer;
  width: 50px;
  transition: 1s;
}

.navigationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventModule {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  width: 100px;
  height: 20px;
  background-color: #BFE1FF;
  transition: 1s;
}

.eventModule:hover {
  cursor: pointer;
  background-color: #7AC1FF;
  transition: 1s;
}

.eventModuleInfo {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.eventContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dayLabel {
  padding: 5px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.modalWindow {
  z-index: 1050;
  position: fixed;
  width: 350px;
  border: 2px solid black;
  transform: translate3d(-50%, -50%, 0px);
  top: 50%;
  left: 50%;
}

.modalButton {
  width: 30px;
  margin: 5px;
  float: left;
}

.modalSubmitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #A8E0A8;
}
