/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 transition: 1s;
 */

 .calendar {
   position: fixed;
   top: 50px;
 }

.day {
  border: 1px solid black;
  width: 160px;
  height: 120px;
  transition: 1s;
}

.day:hover {
  background-color: #EFEFEF;
  cursor: pointer;
  transition: 1s;
}

.bufferDay {
  border: 1px solid gray;
  width: 160px;
  height: 120px;
  background-color: #F1F1F1;
}

.month {
  display: flex;
  flex-wrap: wrap;
  width: 1140px;
  margin: 15px;
}

.nextMonth {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  transition: 1s;
}

.nextMonth:hover {
  cursor: pointer;
  background-color: #F1F1F1;
  transition: 1s;
}

.prevMonth {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  transition: 1s;
}

.prevMonth:hover {
  cursor: pointer;
  background-color: #F1F1F1;
  transition: 1s;
}

.eventModule {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  background-color: #BFE1FF;
  transition: 1s;
}

.eventModule:hover {
  cursor: pointer;
  background-color: #7AC1FF;
  transition: 1s;
}

.eventContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dayLabel {
  padding: 5px;
}
